
.guestWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.crossLine {
  position: absolute;
  top: 50%;
  width: 0;
  height: 2px;
  background-color: red;
  animation: crossLineAnimation 0.5s forwards;
  transform: rotate(-10deg);
}

@keyframes crossLineAnimation {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.comingSoon {
  position: relative;
  margin-top: 5px;
  opacity: 0;
  animation: fadeIn 0.5s forwards 0.5s;
}

.glowingText {
  color: #ffcc00;
  font-weight: bold;
  font-size: 0.8em;
  text-align: center;
  animation: glow 1.5s infinite alternate;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 5px #ffcc00, 0 0 10px #ffcc00, 0 0 15px #ffcc00;
  }
  100% {
    text-shadow: 0 0 20px #ffcc00, 0 0 30px #ffcc00, 0 0 40px #ffcc00;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

